body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 3px;
    background-color: #F5F5F5;
    text-align: center;
}

/* Universal Box Sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Header & Footer */
header,
footer {
    background-color: #2C3E50;
    color: #ECF0F1;
    text-align: center;
    padding: 30px;
    width: calc(100% - 20px);
    margin: 0 auto;
    border-radius: 5px;
}

footer {
    margin-top: auto;
}

.hero {
    position: relative;
    width: calc(100% - 20px);
    height: 80vh;
    overflow: hidden;
    margin: 5px auto;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Data & Weather Box */
.data-box,
.weather-box {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    width: 230px;
    margin: 20px;
    text-align: center;
}

/* Positioning the Boxes */
.data-box {
    top: 20px;
    left: 20px;
}

.weather-box {
    bottom: 20px;
    right: 20px;
}

/* Box Headers */
.data-box h2,
.weather-box h2 {
    background-color: #2C3E50;
    color: #FFFFFF;
    padding: 10px;
    margin: -15px -15px 10px -15px;
    font-size: 1.5em;
    align-items: center;
}

.weather-box h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Text & Icons */
.data-box p,
.weather-box p {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #333;
    margin: 5px 0;
}

.data-box i,
.weather-box i {
    color: #FFC107;
    text-align: center;
}
/* Responsive Styles */
@media (max-width: 768px) {
    .hero {
        height: 60vh;
    }

    .data-box,
    .weather-box {
        width: 80%;
        position: relative;
        margin: 8px auto;
        padding: 8px;
        box-shadow: none;
        background-color: white !important;
      
    }

    .data-box {
        top: auto;
        left: auto;
    }

    .weather-box {
        bottom: auto;
        right: auto;
    }

    .data-box p,
    .weather-box p {
        color: #000;
        
    }

    .data-box h2,
    .weather-box h2 {
        background-color: white;
        color: black;
       
    }
}
@media (max-width: 480px) {
    header h1 {
        font-size: 22px;
    }

    .data-box,
    .weather-box {
        width: 90%;
        padding: 5px;
    }

    .data-box h2,
    .weather-box h2 {
        font-size: 18px;
    }

    .data-box p,
    .weather-box p {
        font-size: 10px;
    }
}

#last-modified {
    color: #ECF0F1;
    font-size: 10px;
}

.weather-icon {
    color: yellow;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .weather-box h2 {
        flex-direction: row;
    }

    .weather-icon {
        font-size: 2em;
        margin-left: 10px;
        margin-top: 0;
    }
}

.weather-box p i {
    display: none;
}

